<div>
  <div>
    <h1>
      <%user_id = session.fetch("user_id")%>
      <% user = User.where({:id => user_id}).at(0)%>
      <%=user.first_name + " " + user.last_name + "'s bookmarks"%>
    </h1>
  </div>
</div>

<hr>

<div>
  <div>

    <form action="/insert_bookmark" method="post">
      <select name = "query_movie_id">
    <%Movie.all.order(:title).each do |m|%>
      <option value = <%=m.id%>>
      <%=m.title%>
      </option>
    <%end%>
  </select>

      <button>
        Bookmark this movie!
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Movie
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_bookmarks.each do |a_bookmark| %>
      <tr>

        <td>
          <%= a_bookmark.movie.title %>
        </td>

        <td>
          <%= time_ago_in_words(a_bookmark.created_at) %> ago
        </td>

        <td>
          <a href = "/delete_bookmark/<%=Bookmark.where({:movie_id => a_bookmark.movie.id, :user_id => session.fetch("user_id")}).at(0).id%>">Un-bookmark</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
